/* General Body Styles */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App container */
.App {
  text-align: left;
}

/* Section Padding */
section {
  padding: 80px 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #4774a1;
}

h2 {
  font-size: 2.5rem;
}

.bg-light {
  background-color: #f8f9fa !important;
}

/* Buttons */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
